apiVersion: v1
kind: Secret
metadata:
  name: {{ stats_secret_name }}
  namespace: {{ namespace }}
  labels:
    mobile: enabled
stringData:
  name: {{ stats_secret_name }}
  type: {{ stats_secret_name }}
  uri: https://{{ stats_route.stdout }}
